{% extends base.html %}
{% load static %}
{% block content %}

<div class="row center-align">
    <form method="post" action="" role="form" class="col s12">
        {% csrf_token %}
        <h3>Login</h3>
        <div class="row">
            <div class="input-field col s12">
                {{ form.username }}
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                {{ form.password }}
                <label for="password">Password</label>
            </div>
        </div>
    </form>

</div>

{% endblock %}